@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@layer components {
  .login-page {
    @apply bg-[url("./assets/login.webp")];
  }

  .register-page {
    @apply bg-[url("./assets/register.webp")];
  }

  .hero-dark {
    @apply bg-[url("./assets/dark.jpg")];
  }
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .mobile-nav-links {
    @apply block p-4 text-sm font-semibold text-accent-4 dark:text-white hover:bg-accent-1 dark:hover:bg-accent-2 hover:text-white rounded-xl;
  }

  .btn-main {
    @apply py-4 px-6 bg-accent-1 hover:bg-teal-500 text-sm text-white font-bold rounded-full transition-all duration-300;
  }

  .btn-secondary {
    @apply py-4 px-6 bg-accent-2 hover:bg-gray-700 hover:text-accent-1 text-sm text-white font-bold rounded-full transition duration-300;
  }
}

body * {
  @apply transition-colors duration-300;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: 0.25em solid whitesmoke;
  transform: rotate(45deg);
}

#hill:after {
  content: "";
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
}

#box {
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 0.25em solid whitesmoke;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}
